* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-main: #585858;
    --color-main-dark: #141820;
    --color-second-main: #090c09;
    --color-main-light: #111111;
    --color-main-lighter: #707070;
    --color-main-detail: rgb(255, 255, 10);
    --color-main-detail-mellow: #1f2431;
    --color-font-main: #ffffff;
    --color-font-highlight: #9BBDDF;
    --color-light-border: rgb(66, 66, 66);
    --color-message-warning: rgba(117, 64, 64, 0.73);
    --color-shadow: rgba(0, 0, 0, 0.329), 0 2px 4px -1px rgba(0, 0, 0, 0.37);
}

html {
  font-size: 100%;
  font-family: sans-serif;
  line-height: 1.25;
}

body {
  background-color: var(--color-second-main);
}
